<h1>All Posts </h1>

<%= link_to 'Create Post', new_post_url %>

<% @posts.each do |post| %>	
	<div class="post">
		<div class="post-title">Post Title: <br><%= post.title %></div>
		<div class="post-author">Author: <br><%= post.user.name %></div>
		<div class="post-body"><%= post.body %> <br></div>
		<div class="post-file">
			
			<%= image_tag post.attachment if post.attachment %>
		</div>
		<div class="post-options">
		<div class="like-button">
		<% if current_user.liked_posts.include?(post) %>
			<p class="liked"> Like </p>
		<% else %>
			<p class="not-liked" data-post-id=<%= post.id %> > Like </p>
		<% end %>
		<p class=<%= "number-likes-" + post.id.to_s %>> <%= post.likes.count %> </p>
		</div>
		<br>

		<div class="fb-share-button" data-href="https://twitter-clone-esnideco.herokuapp.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftwitter-clone-esnideco.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
		<% if current_user == post.user %>
		 <%= link_to 'Edit', edit_post_path(post) %>
		 <%= link_to 'Destroy', post_path(post),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
            <% end %>
		 </div>
	</div>
<% end %>

